@model  TheUCFour.Models.SalesReportViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section MyStyle{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
}


<div>
    <h2 style="text-align:center">Sales Report</h2>

    <form method="post">
        <table>

            <tr>
                <td>StartDate:</td>
                <td><input type="date" name="StartDate" value="@Model.Date" /></td>

                <td>EndDate:</td>
                <td><input type="date" name="EndDate" value="@Model.Date" /></td>
                @*<td><input type="text" name="Name" value="@Model.Name" /></td>*@
            </tr>

            <tr></tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="submit" value="Search" style="margin-left:26%"/></td>
            </tr>
        </table>
    </form>
    @{
        Html.RenderPartial("~/Views/Shared/SalesReport/_SalesReportDetails.cshtml", Model);
    }
</div>


